[
  {kernel,
    [{logger,
        [{handler, default, logger_disk_log_h,
            #{  config => #{file => "log/console.log"},
                formatter =>
                    {logger_formatter, #{   legacy_header => true,
                                            single_line => false,
                                            template => [ [logger_formatter, header], msg ],
                                            max_size => 500
                                            }},
                filter_default => log
            }},

        {handler, disk_logger_error, logger_disk_log_h,
            #{  config => #{file => "log/error.log"},
                formatter =>
                    {logger_formatter, #{   legacy_header => true,
                                            single_line => false
                                            }},
                level => error
            }}

        ]}]},

  {websocket, [
    {websocket_timeout, 300000}, %5min 5*60*1000
    {http_port, 8080},
    {last_msg_count, 5}

  ]}
].
